* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black !important;
  text-decoration: none;
}

p {
  font-weight: lighter;
}

.nav {
  height: 10vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a {
    margin: 0 1rem;
    color: white !important;
  }
}

.main {
  background: whitesmoke;
  padding: 1rem;
}

.heading {
  color: lightblue !important;
  padding: 2rem 0;
}

.search {
  width: 33vw;
  margin: 1rem auto;
}
.news__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.news__header {
  display: flex;
  justify-content: space-between;
}
